<!DOCTYPE html>
<html lang="en">
<head>
    <title>title</title>
</head>
<body>
    <div align="center">
        <h1 id="gameTitle">Guess the Number Game</h1>
        <h3 id="mainMessage"> Main message </h3>
        <h3 id="resultMessage">Result message content</h3>
        <form method="post">
            <label id="enterGuessLabel" for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess">
            <input id="submitButton" type="submit" value="Submit">
        </form>
        <footer>
            <p> Footer </p>
        </footer>
    </div>
</body>
</html>